root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 160
tab_width = 4

[{*.yaml,*.yml,*.md}]
indent_size = 2

[*.cs]
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_space_around_declaration_statements = ignore
csharp_space_after_cast = true
csharp_preferred_modifier_order = public, private, protected, internal, file, new, static, abstract, virtual, sealed, readonly, override, extern, unsafe, volatile, async, required
resharper_space_after_cast = true
resharper_csharp_place_attribute_on_same_line = never
resharper_place_field_attribute_on_same_line = never
resharper_place_method_attribute_on_same_line = never
resharper_remove_blank_lines_near_braces_in_code = false
